$img-width:175px;

.footer{
	background-color: $primary;
	color:$dark-gray;
	margin-top: 150px;
	padding: 40px 0px;

	&__content{
		text-align: center;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	&__icons{
		color:white;

		i{
			font-size:20px;
			margin-right: 20px;
		}
	}

	&__text{
		color:white;
		margin-right: 40px;

		display: inline;
	}

	&__logo{
		max-height: 75px;
		margin:0 auto;
	}
}

