$img-width:175px;

.footer{
	background-color: $primary;
	color:$dark-gray;
	padding: 40px 0px;

	box-shadow: $box-shadow;

	&__content{
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: space-between;

		flex-direction: column;
	}

	&__icons{
		color:white;

		display: flex;
		flex-direction: row;

		margin-top:20px;

		i{
			font-size:20px;
			margin-right: 20px;
		}
	}

	&__text{
		color:white;
		margin-right: 40px;
	}

	&__logo{
		max-height: 75px;
		margin:0 auto;
	}

	@include breakpoint($tablet){
		&__content{
			flex-direction: row;
		}

		&__contact{
			display:flex;
			flex-direction: row;
		}


		&__icons{
			margin-top: 0px;
		}
	}
}

