.hand{
	width:800px;

	&--off{
		transform: translateX(-100%);
    	margin-left: 100%;
	}

	&-container{
		position: absolute;
		width:100%;
		overflow-x:hidden;
		z-index:0;
	}
}

.search-lh{
	display:none;
	transform: translateY(-10%);

	&__img{
		width:900px;
		transform:translateX(-20%);
	}

	@include breakpoint($tablet){
		display:block;
	}
}

.search-rh{
	transform: translateY(-30%);

	&__img{
		transform: translateX(-60%);
	}
}

.promise-rh{
	transform:translateY(100%);

	&__img{
		transform:translateX(-70%);
	}

	@include breakpoint($tablet){
		transform: translateY(40%);
	}
}

.promise-lh__img{
	transform: translateX(-30%);
}

.pricing-lh{
	transform: translateY(-20%);

	&__img{
		width:900px;
		transform: translateX(-40%);
	}
}

.location-lh{
	transform: translateY(-30%);

	&__img{
		transform: translateX(10%);
	}
}

.location-rh{
	transform: translateY(100%);

	&__img{
		transform: translateX(-80%);
	}

	@include breakpoint($tablet){
		transform: translateY(50%);
	}
}

.gallery-lh{
	transform: translateY(300%);

	&__img{
		transform: translateX(-20%);	
	}

	@include breakpoint($tablet){
		transform: translateY(200%);
	}

	@include breakpoint($laptop){
		transform: translateY(110%);
	}

}

.login-lh{
	transform: translateY(-8%);
	display:none;

	&__img{
		transform: translateX(-30%);
		width:500px;
	}

	@include breakpoint($tablet){
		display:block;
	}
}


.login-rh{
	transform: translateY(-25%);

	&__img{
		transform: translateX(-70%);
		width:700px;
	}
}


.signup-lh{
	transform: translateY(10%);
	display:none;

	&__img{
		transform: translateX(-30%);
	}

	@include breakpoint($tablet){
		display:block;
	}
}

.signup-rh{
	transform: translateY(20%);

	&__img{
		transform: translateX(-70%);
	}
}