.people{
	display:grid;
	grid-template-columns: 1fr;

	margin-top:10em;

	grid-row-gap: 10em;
	grid-column-gap: 8.5em;

	@include breakpoint($tablet){
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}

	@include breakpoint($laptop){
		margin-top:0em;
	}
}

.person{
	background-color:white;
	box-shadow: $box-shadow;
	border-radius: $border-radius;

	text-align: center;

	z-index:1;

	&__img{
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;

		width:100%;

		object-fit: cover;
	}

	&__content{
		padding:3em;
	}

	&__name{
		font-size:$txt-sm;
		font-weight: bold;
	}

	&__job{
		color:$light-gray;
	}
}